/* --------------------Глобально скидываю стили------------------------------------------ */
body {
    position: relative;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 0;
}

/*-----------------------------------------------------------------------------планшетные и десктопные стили-------------------------------------------------*/

.mobile-version {
    display: none;
}

.containers{
    padding-left: 30px;
    padding-right: 30px;
}

.sorting-bloc__items1 {
    width: 10%;
}

.sorting-bloc__items2 {
    width: 20%;
}

.sorting-bloc__items3 {
    width: 15%;
}

.sorting-bloc__items4 {
    width: 10%;
}

.sorting-bloc__items5 {
    width: 2%;
}

.cart-title {
    padding-left: 42px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #181717;
}

.sorting-bloc {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8F8B8A;
}

.cart-title {
    padding-left: 42px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #181717;
}

.a1 {
    position: relative;
}

.a1::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon__compare.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}


.product-remove__hint {
    width: 190px;
    height: 28px;
    margin: 0;
    background: #8F8B8A;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    line-height: 28px;
    position: absolute;
    bottom: -40px;
    left: -98px;
}

.product-remove__btn:hover + .product-remove__hint {
    display: block;
}

.product-remove {
    position: relative;
}

.product-remove__btn {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 60px;
    border: none;
    background-color: transparent;
}

.product-remove__btn::before,
.product-remove__btn::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #4D4B4A;
    position: relative;
}

.product-remove__btn::before {
    transform: rotate(45deg);
    position: absolute;
}

.product-remove__btn::after {
    transform: rotate(-45deg);
    position: absolute;
}

.cart-price__sale {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FF0100;
}

.cart-price__paragraph {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181717;
}

.cart-price {
    text-align: center;
}

.cart-text__title {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.cart__product--available-order {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #8F8B8A;
    position: relative;
}

.cart-control-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart-control__btn--plus {
    background-image: url("../img/icons__cart-product--plus.png");
    background-position: center;
    background-repeat: no-repeat;
}

.cart-control__btn {
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
}

.cart-control__quantity-product {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181717;
}

.cart-control__btn--minus {
    background-image: url("../img/icons__cart-product--minus.png");
    background-position: center;
    background-repeat: no-repeat;
}

.cart-control__btn {
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
}

.display-none {
    display: none;
}

/*---------------------------------------------------------------------конец планшетной версии----------------------------------------------------------------*/


/* --------------------------------------------------------------------------------MAX-WIDTH 680 PX------------------------------------------------------------------- */

@media (max-width: 680px) {

    .responsive-version__wrapper {
        display: none;
    }

    .mobile-version {
        display: block;
    }

    /* ----------------------------------------------------------------------Центровщик---------------------------- */
    .containers {
        width: 960px;
        margin: 0 auto;
    }

    /*--------------------------------------------------------------------------------cart-----------------------------------*/
    .cart-title {
        padding-left: 42px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        text-transform: uppercase;
        color: #181717;
    }

    .cart__item {
        position: relative;
    }

    .cart__item::before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-image: url("../img/icon__compare.png");
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }

    .sorting-bloc {
        max-width: 980px;
        height: 50px;
        padding-left: 129px;
        padding-right: 331px;
        display: flex;
        align-items: center;
        background: #FBFBFB;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #8F8B8A;
    }

    .sorting-bloc__items:first-child {
        width: 72px;
        padding-left: 201px;
    }

    .sorting-bloc__items:nth-child(2) {
        width: 50px;
        padding-left: 328px;
    }

    .sorting-bloc__items:last-child {
        width: 38px;
        padding-left: 138px;
    }

    .cart {
        padding-left: 42px;
    }

    .cart__item {
        display: flex;
        align-items: center;
        position: relative;
    }

    .cart__item::after {
        content: "";
        display: block;
        width: 980px;
        height: 1px;
        position: absolute;
        bottom: 0;
        background: #EFEFEF;
    }

    .cart-product__mobile-wrapper {
        display: flex;
    }

    .cart-product__wrapper {
        padding-right: 48px;
    }

    .cart-text {
        width: 285px;
        padding-right: 101px;
    }

    .cart-text__title {
        width: 300px;
        margin: 0;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181717;
    }

    .cart__product--available-order {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #8F8B8A;
        position: relative;
    }

    .cart__product--available-order::after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 0;
        left: 115px;
        background-image: url("../img/icons__available-order--question.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .cart__product--sale {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FF0100;
    }

    .cart-control-wrapper {
        width: 106px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -65px;
    }

    .cart-control__btn {
        display: block;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
    }

    .cart-control__btn--plus {
        background-image: url("../img/icons__cart-product--plus.png");
        background-position: center;
        background-repeat: no-repeat;
    }

    .cart-control__btn--minus {
        background-image: url("../img/icons__cart-product--minus.png");
        background-position: center;
        background-repeat: no-repeat;
    }

    .cart-control__quantity-product {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181717;
    }

    .cart-price {
        width: 98px;
        padding-left: 91px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cart-price__paragraph {
        margin: 0;
        margin-top: -65px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181717;
    }

    .cart-price__sale {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FF0100;
    }

    .product-remove {
        margin-top: -66px;
        position: relative;
    }

    .product-remove__btn {
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 60px;
        border: none;
        background-color: transparent;
    }

    .product-remove__btn::before,
    .product-remove__btn::after {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: #4D4B4A;
        position: relative;
    }

    .product-remove__btn::before {
        transform: rotate(45deg);
        position: absolute;
    }

    .product-remove__btn::after {
        transform: rotate(-45deg);
        position: absolute;
    }

    .product-remove__hint {
        width: 190px;
        height: 28px;
        margin: 0;
        background: #8F8B8A;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #FFFFFF;
        text-align: center;
        line-height: 28px;
        position: absolute;
        bottom: -40px;
        left: -98px;
    }

    .product-remove__btn:hover + .product-remove__hint {
        display: block;
    }
}
    .cart-all-in-all {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .cart-all-in-all__total,
    .cart-all-in-all__total-price {
        margin: 0;
    }

    .cart-all-in-all__total {
        padding-top: 10px;
        padding-bottom: 6px;
    }

    .cart-all-in-all__total-price {
        padding-bottom: 20px;
    }

    .cart-all-in-all__total {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #181717;
    }


    .cart-all-in-all__total-price {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        color: #181717;
    }

    .cart-all-in-all__order-btn {
        display: block;
        width: 280px;
        height: 50px;
        background: #4D4B4A;
        border-radius: 5px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 50px;
        text-align: center;
        color: #FFFFFF;
        border: none;
    }

    .cart-all-in-all {
        padding-right: 40px;
        display: flex;
        flex-direction: column;
        align-items: end;
    }


/*---------------------------------------------------------------------OLD VERSION NEED FIX-------------------------------------*/
/*-----------------------media---------------------------*/
@media (max-width: 680px) {


    /*---------------------------------------------------------------------containers mobile version---------------------------*/

    .containers {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /*-----------------------cart---------------------------*/
    .sorting-bloc {
        display: none;
    }

    .cart-title {
        margin-left: 16px;
    }


    .cart {
        width: 360px;
        display: flex;
        flex-direction: column;
    }

    .cart__item {
        width: 324px;
        padding-left: 16px;
        padding-right: 16px;
        align-items: flex-start;
    }

    .cart__item::before {
        left: 300px;
        top: 10px;
    }

    .cart-product__mobile-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .cart-product__wrapper {
        padding: 0;
        padding-top: 25px;
    }

    .cart-text {
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 34px;
        padding-right: 0;
    }

    .cart-text__title {
        width: 205px;
        padding-bottom: 10px;
    }

    .cart__product--available-order {
        margin: 0;
    }

    .cart-control-wrapper {
        padding-bottom: 20px;
        margin: 0;
        margin-left: 15px;
        margin-top: -22px;
    }

    .cart-price {
        margin: 0;
        padding: 0;
        margin-left: 15px;
    }

    .cart-price__paragraph {
        margin: 0;
        margin-bottom: 20px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181717;
    }

    .product-remove {
        margin: 0;
        position: absolute;
        top: 14px;
        right: 0;
    }

    .product-remove__btn {
        margin: 0;
        margin-right: -10px;
    }

    .product-remove__btn::before,
    .product-remove__btn::after {
        background: #FF0100;
    }

    .product-remove__btn:hover + .product-remove__hint {
        left: -155px;
    }



}



/*---------------------------------------------------------------СART ALL in ALL HOVER----------------------------------------------------------------------------------*/


.cart-all-in-all__order-btn:focus,
.cart-all-in-all__order-btn:hover {
    background: #BB9930;
    border: 1px solid #BB9930;
}

.cart-all-in-all__order-btn:active {
    color: #BB9930;
    border: 1px solid #BB9930;
    background-color: transparent;
}
