
/*-----------------------------------------------------------------------------планшетные и десктопные стили-------------------------------------------------*/



.sorting-bloc__items1 {
    width: 10%;
}

.sorting-bloc__items2 {
    width: 20%;
}

.sorting-bloc__items3 {
    width: 15%;
}

.sorting-bloc__items4 {
    width: 10%;
}

.sorting-bloc__items5 {
    width: 2%;
}
.cart-title {
    padding-left: 42px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #181717;
}

.a1 {
    position: relative;
}

.a1::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon__compare.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}



.product-remove__hint {
    width: 190px;
    height: 28px;
    margin: 0;
    background: #8F8B8A;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    line-height: 28px;
    position: absolute;
    bottom: -40px;
    left: -98px;
}

.product-remove__btn:hover + .product-remove__hint {
    display: block;
}

.product-remove {
    position: relative;
}

.product-remove__btn {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 60px;
    border: none;
    background-color: transparent;
}

.product-remove__btn::before,
.product-remove__btn::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #4D4B4A;
    position: relative;
}

.product-remove__btn::before {
    transform: rotate(45deg);
    position: absolute;
}

.product-remove__btn::after {
    transform: rotate(-45deg);
    position: absolute;
}

.cart-price__sale {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FF0100;
}
.cart-price__paragraph {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181717;
}

.cart-price {
 text-align: center;
}

.cart-text__title {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.cart__product--available-order {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #8F8B8A;
    position: relative;
}

.cart-control-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cart-control__btn--plus {
    background-image: url("../img/icons__cart-product--plus.png");
    background-position: center;
    background-repeat: no-repeat;
}
.cart-control__btn {
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
}
.cart-control__quantity-product {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181717;
}
.cart-control__btn--minus {
    background-image: url("../img/icons__cart-product--minus.png");
    background-position: center;
    background-repeat: no-repeat;
}
.cart-control__btn {
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
}

.display-none{
    display: none;
}

/*---------------------------------------------------------------------конец планшетной версии----------------------------------------------------------------*/


