/* --------------------Глобально скидываю стили------------------------------------------ */

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


/* ----------------------Центровщик---------------------------- */
.containers {
    width: 960px;
    margin: 0 auto;
}

/*-----------------------------------------------------------------*/

.cart-title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #181717;
}

.sorting-bloc {
    width: 960px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FBFBFB;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8F8B8A;
}


/*-----------------------form feedback---------------------------*/

.feedback-form {
    width: 500px;
    height: 563px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    background-color: #FBFBFB;
    position: relative;
}

.feedback-form__btn-close {
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    position: absolute;
    top: -30px;
    right: 5px;
}

.feedback-form__btn-close::before,
.feedback-form__btn-close::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #FBFBFB;;
    border: 1px solid black;
}

.feedback-form__btn-close::before {
    transform: rotate(45deg);
    position: absolute;
}

.feedback-form__btn-close:after {
    transform: rotate(-45deg);
    position: absolute;
}

.feedback-form__title {
    width: 438px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #181717;
    position: absolute;
    top: 0;
}

.feedback-form label {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #181717;

}

.feedback-form__name-wrapper,
.feedback-form__phone-wrapper,
.feedback-form__email-wrapper,
.feedback-form__comment-wrapper {
    display: flex;
    flex-direction: column;
}

.feedback-form__name-wrapper,
.feedback-form__phone-wrapper {
    margin-bottom: -80px;
}

.feedback-form__name-wrapper {
    margin-right: 20px;
}

.feedback-form__email-wrapper {
    margin-bottom: -80px;
}

.feedback-form__comment-wrapper {
    margin-bottom: -75px;
}


.feedback-form__name-label,
.feedback-form__phone-label,
.feedback-form__email-label,
.feedback-form__comment-label {
    padding-bottom: 6px;
    border: none;
    position: relative;
}

.feedback-form__name-label::after,
.feedback-form__phone-label::after,
.feedback-form__email-label::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 40px;
    background-image: url("../img/icon__star-red.png");
    background-position: center;
    background-repeat: no-repeat;

}

.feedback-form__phone-label::after {
    left: 77px;
}

.feedback-form__email-label::after {
    left: 53px;
}

.feedback-form__name-input,
.feedback-form__phone-input {
    width: 209px;
    height: 50px;
    border: 1px solid #E3E3E3;
}

.feedback-form__email-input::placeholder,
.feedback-form__phone-input::placeholder {
    padding-left: 19px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8F8B8A;
}

.feedback-form__email-input {
    width: 440px;
    height: 50px;
    border: 1px solid #E3E3E3;
}

.feedback-form__comment-input {
    width: 440px;
    height: 101px;
    border: 1px solid #E3E3E3;
}

.feedback-form__submit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -10px;
}

.feedback-form__submit {
    display: block;
    width: 440px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #4D4B4A;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.feedback-form__submit:hover,
.feedback-form__submit:focus {
    background: #BB9930;
}

.feedback-form__submit:active {
    border: 1px solid #BB9930;
    background: white;
    color: #BB9930;
}

.feedback-form__agreement {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #181717;

}

.feedback-form__agreement a {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7A631F;
}

.feedback-form__img-back {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}

/*-----------------------form feedback max width 680px---------------------------*/

@media (max-width: 680px) {


    .feedback-form {
        width: 360px;
        height: 730px;
    }

    .feedback-form__title{
        width: 287px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.2px;
    }

    .feedback-form__name-input,
    .feedback-form__phone-input,
    .feedback-form__email-input,
    .feedback-form__comment-input{
        width: 328px;
    }
    .feedback-form__name-wrapper{
        margin-right: 0;
    }
    .feedback-form__submit{
        width: 328px;
    }
}