/* --------------------------------------------------global styles drop------------------------------------------ */
main {
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0;
    margin: 0;
}

/* ------------------------------------------------------------------------------------------------------------------- */


.catalog-page__containers {
    width: 1200px;
    margin: 0 auto;
}


/*------------------------------------------------------breadcrumbs------------------------------------------------*/

.catalog-page-breadcrumbs-list__link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #181717;
}

.catalog-page__breadcrumbs-list {
    display: flex;
}

.catalog-page-breadcrumbs-list__item {
    position: relative;
}

.catalog-page-breadcrumbs-list__item:first-child,
.catalog-page-breadcrumbs-list__item:nth-child(2) {
    margin-right: 25px;
}

.catalog-page-breadcrumbs-list__item:first-child::after,
.catalog-page-breadcrumbs-list__item:nth-child(2)::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-image: url("../img/icon__breadcrumbs.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    right: -18px;
}

.breadcrumbs-list__link--mobile {
    display: none;
}

/*-------------------------------------------------------------catalog--------------------------------------------------*/

.catalog-page__wrapper {
    display: flex;
}

/*-------------------------------------------------------------left-bar------------------------------------------------*/

.catalog-page__main-title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #181717;
}

.catalog__main-search-result {
    display: flex;
}

.catalog__main-search-result p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8F8B8A;
}

.catalog-left-block {
    width: 280px;
}

.left-bar__list {
    width: 260px;
    min-height: 620px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-evenly;
    background-color: #FBFBFB;
}

.left-bar__item p,
.left-bar__item h4 {
    margin: 0;
}

.left-bar__item a {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}

.left-bat__item--active a {
    color: #7A631F;
}

/*----------------------------------------------------------catalog-right-block----------------------------------*/

/*----------------------------------------------------------catalog-sorting-block----------------------------------*/

.catalog-right-block {
    width: 920px;
}

.sorting-main__item {
    position: relative;
}

.sorting-main__list {
    max-width: 880px;
    display: flex;
}


.sorting-main__button {
    display: block;
    height: 35px;
    margin-bottom: 35px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    position: relative;
}

.sorting-main__button::after {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    background-image: url("../img/icon__catalog-down-menu.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 7px;
    top: 15px;
}

.sorting-main__button--price {
    display: block;
    width: 84px;
    margin-right: 10px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
}

.sorting-main__button--price:focus,
.sorting-main__button--price:hover {
    border: 1px solid #BB9930;
}

.sorting-main__price {
    width: 230px;
    height: 162px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.price-range {
    margin-top: -15px;
}

#price-for,
#price-to {
    width: 77px;
    height: 17px;
}

.price-to__wrapper label,
.price-for__wrapper label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}

.price-to__wrapper input,
.price-for__wrapper input {
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8F8B8A;
}

.price-to__wrapper input:hover,
.price-for__wrapper input:hover {
    border: 1px solid #BB9930;
}


.price-for__wrapper,
.price-to__wrapper {
    height: 30px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.price-for__wrapper {
    margin-right: 20px;
}

.price-range {
    display: block;
    width: 220px;
    position: relative;
}

.price-slider__range-scale {
    display: block;
    width: 222px;
    border: 1px solid #BB9930;
}

.price-slider__range-control--of,
.price-slider__range-control--to {
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #BB9930;
    position: absolute;
}

.price-slider__range-control--of {
    top: -6px;
    left: 0;
}

.price-slider__range-control--to {
    top: -6px;
    right: -4px;
}

.sorting-main__price-submit {
    display: block;
    width: 250px;
    height: 36px;
    background: #4D4B4A;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}

.sorting-main__price-submit:focus,
.sorting-main__price-submit:hover {
    background: #BB9930;
    color: #FFFFFF;
}

.sorting-main__price-submit:active {
    border: 1px solid #BB9930;
    color: #BB9930;
    background-color: #FFFFFF;
}


.sorting-main__button--brand {
    width: 93px;
    margin-right: 10px;
}

.sorting-main__button--brand:focus,
.sorting-main__button--brand:hover {
    border: 1px solid #BB9930;
    border-radius: 4px;
}

.sorting-main__brand {
    width: 230px;
    height: 343px;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
}

.check__wrapper {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.sorting-main__brand label {
    margin-bottom: 17px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}

.check__input {
    -webkit-appearance: none;
    appearance: none;
    margin-left: 10px;
}

.check {
    padding-left: 20px;
}

.checkbox-custom {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -30px;
    background-image: url("../img/icon__checkbox--off.png");
}

.check__input:checked + .checkbox-custom {
    background-image: url("../img/icon__checkbox.png");
}

.sorting-main__brand--submit {
    width: 250px;
    height: 36px;
    margin-left: -10px;
    background: #4D4B4A;
    border-radius: 5px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.sorting-main__brand--submit:focus,
.sorting-main__brand--submit:hover {
    background: #BB9930;
    border: 1px solid #BB9930;
    border-radius: 5px;
    color: #FFFFFF;
}

.sorting-main__brand--submit:active {
    border: 1px solid #BB9930;
    color: #BB9930;
    background: #FFFFFF;
}

.sorting-main__button--steel {
    width: 139px;
}

.sorting-main__button--expensive {
    width: 173px;
    margin-left: auto;
}

.sorting-main__item:last-child {
    margin-left: auto;
}
.catalog-page__sorting-sub-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 170px;
    height: 115px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: absolute;
    top: 36px;
    left: 2px;
    z-index: 1;
}
.catalog-page__sorting-sub-menu-item{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}
/*---------------------------------------------------------------catalog-gallery----------------------------------*/

.catalog-gallery__list {
    display: flex;
    flex-wrap: wrap;
}

.catalog-gallery__item {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 6px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #EFEFEF;
    background: #FFFFFF;
    width: 248px;
    height: 475px;
    position: relative;
}

.catalog__special-offer {
    display: block;
    width: 60px;
    height: 28px;
    position: absolute;
    left: 0;
    top: 0;
}

.catalog-gallery__item::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon__compare.png");
    background-position: center;
    background-repeat: repeat;
    position: absolute;
    right: 5px;
    top: 5px;
}

.catalog-gallery__item-title {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: "Montserra", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #181717;
}

.catalog-gallery__description {
    width: 265px;
    height: 71px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}

.catalog-gallery__price {
    margin: 0;
    padding-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181717;
}

.catalog-gallery__btn {
    margin-left: -8px;
    display: block;
    width: 268px;
    height: 36px;
    background: #4D4B4A;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}

.catalog-gallery__btn:focus,
.catalog-gallery__btn:hover {
    background: #BB9930;
}

.catalog-gallery__btn:active {
    border: 1px solid #BB9930;
    color: #BB9930;
    background-color: transparent;
}

.catalog-gallery__paginator {
    display: flex;
}

.catalog-gallery__paginator-list {
    display: flex;
}

.catalog-gallery__paginator-link {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #181717;
}

.catalog-gallery__paginator-link:hover {
    background: #E3E3E3;
    border-radius: 2px
}

.catalog-gallery__paginator-link--active {
    color: #FFFFFF;
    background: #BB9930;
    border-radius: 2px;
}


.catalog-gallery__next-page-btn {
    display: block;
    align-self: center;
    width: 50px;
    height: 17px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
    border: none;
    background-color: transparent;
    position: relative;
}

.catalog-gallery__next-page-btn::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon__catalog-gallery--next-page.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -20px;
    top: -2px;
}

.display-none {
    display: none;
}

/*---------------------------------------------------------max-width 1024 px------------------------------------------------*/
@media (max-width: 1024px) {

    .catalog-page__containers {
        width: auto;
        padding-left: 42px;
        padding-right: 42px;
    }

    .catalog-page__breadcrumbs {
        width: auto;
    }

    .catalog-page__breadcrumbs-list {
        width: auto;
    }

    .catalog-left-block {
        display: none;
    }

    .catalog-page__main-title {
        width: 600px;
    }

}

/*---------------------------------------------------------max-width 1024 px------------------------------------------------*/
@media (max-width:1005px){
  
    .catalog-page__containers{
        width: 688px;
    }
}

/*---------------------------------------------------------max-width 922 px------------------------------------------------*/

@media (max-width: 1005px) {

    .sorting-main__item:last-child{
        margin-left: 75px;
    }

}
/*---------------------------------------------------------max-width 703 px------------------------------------------------*/

@media (max-width: 703px) {

    .catalog-page__containers {
        max-width: 360px;
        padding-left: 6px;
        padding-right: 6px;
    }

    .catalog-page__breadcrumbs {
        width: auto;
    }

    .catalog-page__breadcrumbs-list {
        width: 100px;
    }

    .catalog-page-breadcrumbs-list__item {
        display: none;
    }

    .breadcrumbs-list__item--mobile {
        padding-left: 20px;
        padding-bottom: 30px;
        display: block;
        position: relative;
    }

    .breadcrumbs-list__link--mobile {
        display: inline-block;
    }

    .breadcrumbs-list__item--mobile::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/icon__back.png");
        background-position: center;
        background-repeat: no-repeat;
    }

    .sorting-main__item:last-child{
        margin-left: 68px;
    }

    .catalog-page__main-title {
        width: 263px;
        margin: 0;
        padding-bottom: 10px;
        font-size: 20px;
        line-height: 24px;
    }

    .catalog__main-search-result {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .catalog-page__wrapper {
        display: block;
    }

    .catalog-left-block {
        display: none;
    }

    .left-bar__list {
        display: none;
    }

    .catalog-right-block {
        width: auto;
    }

    .catalog__sorting-main {
        width: auto;
    }

    .sorting-main__list {
        width: auto;
    }

    .sorting-main__button {
        display: none;
    }

    .sorting-main__button--mobile {
        display: block;
    }

    .catalog-gallery__item {
        width: 156px;
        height: 390px;
        margin-right: 16px;
        padding: 0;
    }

    .catalog-gallery__item:nth-child(even){
        margin-right: 0;
    }

    .catalog-gallery__item-title {
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 23px;
        padding-bottom: 10px;
        font-size: 14px;
    }

    .catalog-gallery__price {
        padding-bottom: 10px;
        padding-right: 6px;
        padding-left: 6px;
    }

    .catalog-gallery__description {
        width: 166px;
        padding-right: 6px;
        padding-left: 6px;
        padding-bottom: 16px;
    }

    .catalog-page__table-column-first--width-mobile {
        width: 120px;
        font-size: 12px;
    }

    .catalog-page__table-column-second--width-mobile {
        width: 40px;
        font-size: 12px
    }

    .catalog-gallery__btn {
        width: 144px;
        height: 36px;
        display: block;
        margin: 0 auto;
    }


}