
.compare-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #181717;
}

.compare-gallery__list {
    display: flex;
}

.compare-gallery__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.compare-gallery__price {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #181717;
}

.compare-gallery__item {
    max-width: 248px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.compare-gallery__btn--close-item {
    display: block;
    margin-left: auto;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: none;
    position: relative;
}

.compare-gallery__btn--close-item::before,
.compare-gallery__btn--close-item::after {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    background-color: #4D4B4A;
    position: absolute;
    top: 6px;
    right: 0;
}

.compare-gallery__btn--close-item::before {
    transform: rotate(45deg);
}

.compare-gallery__btn--close-item::after {
    transform: rotate(-45deg);
}

.compare-gallery__cart-add {
    width: 238px;
    height: 36px;
    display: block;
    margin: 0 auto;
    border: none;
    background: #4D4B4A;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.compare-gallery__cart-add img {
    margin-right: 10px;
}

.compare-gallery__cart-add:focus,
.compare-gallery__cart-add:hover {
    background: #BB9930;
}

.compare-gallery__cart-add:active {
    color: #BB9930;
    border: 1px solid #BB9930;
    background-color: #FFFFFF;

}