@media (min-width: 320px) {

    .breadcrumbs__wrapper{
        display: none;
    }

    .mobile-back-btn{
        display: block;
        margin-left: 16px;
        padding: 0;
        padding-left: 20px;
        border: none;
        background-color: transparent;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #181717;
        background-image: url("../img/icon__back.png");
        background-repeat: no-repeat;
        background-position: left;
    }
    .knives-on-order{
        width: 328px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .knives-on-order__title{
        margin: 0;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181717;
    }

    .knives-on-order__paragraph-first,
    .knives-on-order__paragraph-second,
    .knives-on-order__paragraph-third{
        margin: 0;
        padding-bottom: 30px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #181717;
    }
    .knives-on-order__paragraph-first,
    .knives-on-order__paragraph-third{
        padding-top: 30px;
    }

    .feedback-form{
        width: 360px;
    }


}